{% extends 'base.html' %}

{% block headermeta %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
{% endblock %}

{% block main %}
<div class="container">

    <h2 class="my-3 text-center text-uppercase font-weight-bold">Информация о книге</h2>

    <div class="info_row d-flex justify-content-center gap-5">
        <div class="name-col flex-column">
            <p>Название книги</p>
            <h4>{{ book.name }}</h4>
        </div>
        <div class="pub-col flex-column">
            <p>Издательство</p>
            <h4>{{ book.publisher }}</h4>
        </div>
        <div class="year-col flex-column">
            <p>Год издания</p>
            <h4>{{ book.year }}</h4>
        </div>
    </div>
    <div class="info_row d-flex justify-content-center gap-5 mt-5">
        <div class="cover-col col-6 flex-column">
            <img src="{{ cover_url }}" alt="Cover" class="border rounded-2" style="max-width:100%;object-fit:cover">
        </div>
        <div class="desc-col col-6 flex-column">
            <h4>Описание книги</h4>
            {{ description|safe }}
        </div>
    </div>
    <div class="info_row d-flex justify-content-between">
        <div class="d-flex genres-row flex-row text-center gap-3 mt-3">
            <h4>Жанры: </h4>
            {% for g in genres %}
            <div class="bg-dark p-2 text-white border rounded-2">{{ g.name }}</div>
            {% endfor %}
        </div>
        <div class="rating-row d-flex flex-column">
            <h4>Рейтинг: {{ book.get_rating() }}/5 ( всего отзывов: {{ book.rating_amount }} )</h4>
        </div>
    </div>

    {% if current_user.is_authenticated and user_review %}
    <div class="rev_col d-flex flex-column border mt-5 mb-5">
        <h4 class="p-3">Ваш отзыв:</h4>
        <div class="border w-100 p-3" style="min-height: 100px;">
            {{user_review.text|safe}}
        </div>
        <div class="border w-100 p-3">
            Оценка: {{ user_review.rating }}/5
        </div>
    </div>
    {% else %}
    <div class="rev_row d-flex mb-4">
        <form method="POST" class="flex-grow-1 col-6">
            <div class="mb-3 mt-3 d-flex flex-column">
                <label for="review" class="fs-4">Оставьте отзыв:</label>
                <textarea class="form-control flex-grow-1 w-100" name="review" id="review" cols="40" rows="6"></textarea>
            </div>
            <div class="mb-3 form-group col-6">
                <label for="rating_select" class="fs-4">Оценка</label>
                <select class="form-control" id="rating_select" name="rating_select">
                    <option value="5">5/5 (Отлично)</option>
                    <option value="4">4/5 (Хорошо)</option>
                    <option value="3">3/5 (Удовлетворительно)</option>
                    <option value="2">2/5 (Неудовлетворительно)</option>
                    <option value="1">1/5 (Плохо)</option>
                    <option value="0">0/5 (Ужасно)</option>
                </select>
            </div>
            <div class="mb-3 text-center">
                <input type="submit" class="btn btn-secondary" value="Сохранить">
            </div>
        </form>
    </div>
    {% endif %}

    {% if reviews.__len__() == 0 %}
    <h4 class="mb-5">На данную книгу еще нет отзывов</h4>
    {% else %}
    {% for rev in reviews %}
    <div class="rev_col d-flex flex-column border mt-5 mb-5">
        <h5 class="p-3">Отзыв пользователя {{ rev.user }}:</h5>
        <div class="border w-100 p-3" style="min-height: 100px;">
            {{rev.text|safe}}
        </div>
        <div class="border w-100 p-3">
            Оценка: {{ rev.rating }}/5
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block footermeta %}
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>const easyMDE = new EasyMDE();</script>
{% endblock %}