{% block modal %}
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Удаление книги</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить книгу
                "<span class="delete-title"></span>"
                ?
                <form action="" class="d-none" method="POST">
                    <input type="submit" id="submit-delete">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <label for="submit-delete" class="btn btn-danger mb-0">Удалить</label>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/deleteModal.js')}}"></script>
{% endblock %}